
<section>
    <div class='container'>
        <div class="well off-top">
            <form role="form">
                <div class="form-group">
                    <label>Post</label>
                    <textarea id="summernote" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>

<footer>
    <div class='container'>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center">Demo by <a href="http://webdevto.ca/">CuongNM</a> - 2017 </p>
            </div>
        </div>
    </div>
</footer>

<!--<p [innerHTML]="postText | escapeHtml"></p>-->