<div class='panel-body'>
    <div class='table-responsive'>
        <table class='table'>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Change</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Type of Meeting</td>
                    <td>
                        <form>
                            <label><input type="checkbox" value="">Face-to-Face</label>
                            <textarea style="width: 60%" class="form-control" id="comment" disabled>Haberdashers' Hall (18 West Smithfield, London EC1A 9HQ)</textarea>
                            <label><input type="checkbox" value="">VideoConference</label>
                            <br>
                            <label><input type="checkbox" value="">Teleconference</label>
                        </form>
                    </td>
                    <td>
                        <button style="margin-top: 40px">Change</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>